<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902603874193-7tad2deada5inagvev4184rjrhsb5mjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902603874193-7tad2deada5inagvev4184rjrhsb5mjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCvguevvvHyIfdTFMo3aLIawIWpcefEg0k</string>
	<key>GCM_SENDER_ID</key>
	<string>902603874193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab7</string>
	<key>PROJECT_ID</key>
	<string>mobileapp119-e2313</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp119-e2313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902603874193:ios:7b5d6640de98ab53b04430</string>
</dict>
</plist>